.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
__pycache__/find_point.cpython-38.pyc
__pycache__/win2map.cpython-38.pyc
__pycache__/winmine_api.cpython-38.pyc
adjust.py
AOTU.py
winmine.py
